<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Gameez</title>
    <link rel="stylesheet" type="text/css" href="css/starterPagesStyle.css">
</head>
<body>
    <table class="startPage">
        <tr>
            <td class="elem" colspan="2"><img src="img/logo.png" alt="Logo"></td>

        </tr>

        <tr>
            <td class="elem">
                <form id="login" class="user" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input name="username" class="form-control form-control-user"
                               th:placeholder="Username" required="true" type="text"/>
                    </div>
                    <div class="form-group">
                        <input name="password" th:placeholder="Password" type="password"
                               required="true" class="form-control form-control-user"/>
                    </div>
                    <input type="submit" name="Login" value="Login" class="btn btn-primary btn-user btn-block"
                             form="login"></input>
                </form>
            </td>
            <td class="elem">
                <form id="register" class="user" th:action="@{/register-user}" method="post">
                    <div class="form-group">
                        <input name="email" th:placeholder="Email" type="email"
                               required="true" class="form-control form-control-user"/>
                    </div>
                    <div class="form-group">
                        <input name="username" class="form-control form-control-user"
                               th:placeholder="Username" required="true" type="text"/>
                    </div>
                    <div class="form-group">
                        <input name="password" th:placeholder="Password" type="password"
                               required="true" class="form-control form-control-user"/>
                    </div>
                    <input type="submit" name="Register" value = "Register" class="btn btn-primary btn-user btn-block"
                             form="register">
                    </input>
                </form>
            </td>
        </tr>



    </table>

</body>
</html>
