<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Gameez</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<table class="headerTable">
    <tr>
        <td style="width:80%">
            <img src="img/logo.png" alt="Logo" width="360px" >
        </td>
        <td style="width:20%">
            <table id="infoBox" class="headerTable">
                <tr>
                    <td rowspan="4" id="avatarImg" style="width:40%">
                        <img src="img/userAvatar.png" alt="Avatar" width="50px">
                    </td>
                    <td>
                        <a  class="link" href="/settings"><p class="infoBoxP">Username</p></a>
                    </td>
                </tr>
                <tr>
                    <td class="infoBoxTd">
                        <a  class="link" href="/index"><p class="infoBoxP">Profile</p></a>
                    </td>
                </tr>
                <tr>
                    <td class="infoBoxTd">
                        <p class="infoBoxP">Wallet : 0.00</p>
                    </td>
                </tr>
                <tr>
                    <td class="infoBoxTd">
                        <a  class="link" href="/logout"><p class="infoBoxP">Logout</p></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="menuTable">
    <tr>
        <td class="menuList">
            <a  class="link" href="/index"><p class="menuListP"> Home </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/store"><p class="menuListP"> Store </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/wishlist"><p class="menuListP"> Wishlist </p></a>
        </td>
        <td class="menuList" id="picked">
            <a  class="link" href="/wallet"><p class="menuListP"> Wallet </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/settings"><p class="menuListP"> Settings </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/about"><p class="menuListP"> About </p></a>

        </td>
    </tr>

</table>

<table>

</table>
<p> HOME </p>



<!--    <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>-->
</body>
</html>
