<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Gameez</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<table class="headerTable">
    <tr>
        <td style="width:80%">
            <img src="img/logo.png" alt="Logo" width="360px" >
        </td>
        <td style="width:20%">
            <table id="infoBox" class="headerTable" >
                <tr>
                    <td rowspan="4" id="avatarImg" style="width:40%">
                        <img src="img/userAvatar.png" alt="Avatar" width="50px">
                    </td>
                    <td>
                        <a  class="link" href="/settings"><p class="infoBoxP"><span th:text="${user.username}"></span></p></a>
                    </td>
                </tr>
                <tr>
                    <td class="infoBoxTd">
                        <a  class="link" href="/index"><p class="infoBoxP">Profile</p></a>
                    </td>
                </tr>
                <tr>
                    <td class="infoBoxTd">
                        <p class="infoBoxP">Wallet : <span th:text="${user.wallet}"></span></p>
                    </td>
                </tr>
                <tr>
                    <td class="infoBoxTd">
                        <a  class="link" href="/logout"><p class="infoBoxP">Logout</p></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="menuTable">
    <tr>
        <td class="menuList">
            <a  class="link" href="/index"><p class="menuListP"> Home </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/store"><p class="menuListP"> Store </p></a>
        </td>
        <td class="menuList" id="picked">
            <a  class="link" href="/wishlist"><p class="menuListP"> Wishlist </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/wallet"><p class="menuListP"> Wallet </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/settings"><p class="menuListP"> Settings </p></a>
        </td>
        <td class="menuList">
            <a  class="link" href="/about"><p class="menuListP"> About </p></a>

        </td>
    </tr>

</table>

<table class="menuTable">
    <thead>
    <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Producer </th>
    </tr>
    </thead>
    <tr th:each="game : ${wishlist}">
        <td  class="menuList"><span th:text="${game.name}"> name </span></td>
        <td  class="menuList"><span th:text="${game.description}"> description </span></td>
        <td  class="menuList"><span th:text="${game.producer.name}"> producer </span></td>

    </tr>
</table>
<p> HOME </p>



<!--    <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>-->
</body>
</html>
